iframe{
	margin-top:175px;
	border:0px;
	float:left;
	margin-bottom:10px;
}

/*modal*/
/*modal button*/
#pizzaInfo{
	float:left;
	margin-top:180px;
	border:none;
	background-color:orange;
	padding:20px;
	color:white;
	font-weight:bold;
	font-size:1em;
	display:block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#pizzaInfo:hover{
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
	color:maroon;
	cursor:pointer;
}

/* The Modal (background) */
.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 7%; /* Location of the box */
  left: 0;
  top: 0;
  width: 1518px; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-image:linear-gradient(brown,yellow);
  color: white;
}

.modal-body {
	padding: 2px 16px;
	background-image:url('Image/blackDot.jpg');
	background-repeat:repeat;
}

.modal-footer {
  padding: 2px 16px;
  background-image:linear-gradient(orange, red);
  color: white;
}

button:focus{
	outline:0;
}