#Shopping table{
	margin-top:180px;
	margin-bottom:10px;
	background-color:rgba(243, 241, 239, 1);
}

.tabcontent 
{
  display: block;
  text-align:left;
  margin-left:160px;
  float:left;
}

.tabcontent button
{
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 10px;
	width:200px;
	cursor: pointer;
	border-radius: 50px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.popupContent 
{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}

.popupContent button
{
	border: none;
	color: white;
	padding: 7px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
	background-color:red;
	font-weight:bold; 
	animation-name: blink;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;	
}

@keyframes blink{
	from {margin-top:6px; margin-left:6px; box-shadow: 0 1px 1px 0 rgba(0,0,255,0.8);}
	to {margin-top:0px; margin-left:0px; box-shadow: 0 15px 30px 0 rgba(255,0,255,0.8);}
}

.popupContent button:hover{
	animation-name: stop;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

@keyframes stop{
	from {margin:4px 2px; box-shadow: 0 0px 0px 0 rgba(0,0,255,0.8);}
	to {margin:4px 2px; box-shadow: 0 0px 0px 0 rgba(255,0,255,0.8);}
}

.modalA1, .modalA2, .modalA3, .modalA4, .modalA5, .modalA6, .modalA7 
{
  display: none; 
  position: fixed; 
  z-index: 3; 
  padding-top: 12%; 
  left: 0;
  top: 0;
  width: 1518px;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
}

.modal-contentA1, .modal-contentA2, .modal-contentA3, .modal-contentA4, .modal-contentA5, .modal-contentA6, .modal-contentA7
{
	background-image:url('Image/blackDot.jpg');
	margin: auto;
	padding-left:5px;
	padding-right:5px;
	border: 1px solid #888;
	width: 700px;;
	height:360px;
	font-size:19px;
	border-radius: 10px;

}

.closeA1, .closeA2, .closeA3, .closeA4, .closeA5, .closeA6, .closeA7 
{
	color: #aaaaaa;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.closeA1:hover, .closeA1:focus, .closeA2:hover, .closeA2:focus, .closeA3:hover, .closeA3:focus, .closeA4:hover, .closeA4:focus, .closeA5:hover, .closeA5:focus, .closeA6:hover, .closeA6:focus, .closeA7:hover, .closeA7:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.popupA1, .popupA2, .popupA3, .popupA4, .popupA5, .popupA6, .popupA7
{
	margin:auto;	
}

#Shopping button{
	/*background-color:rgb(128,0,128);*/
	background-color:teal;
	outline:white;
}

#Shopping button:hover{
	opacity:0.5;
}

#Shopping button:visited{
	opacity:0.7;
}

#TnC{
	font-family: 'Asap', sans-serif;
	font-size:90%;
	color:rgba(108,122,137,1);
}

#Shopping
{
	font-family: 'Ubuntu', sans-serif;
}

#Shopping button:focus
{
	outline:white;
}

/*for pop up text box*/
.popupContent td{
	height:70%;
	font-size:80%;
}

.popupContent button:focus{
	outline:white;
}

#Shopping td
{
	width:200px;
}

#Shopping tr td{
	padding-bottom:5px;
	padding-top:5px;
	padding-right:30px;
}